<link rel="stylesheet" type="text/css" href="public/stylesheets/signin.css">
<script type="text/x-handlebars" data-template-name="signin">
    \{{#if isSignedIn}}
        <div class="alert alert-warning" role="alert">You are already signed in!</div>
    \{{else}}

    <div class="hdfm"> {{!--head block--}}
        <h3 class="h3sign">
            Sign in using your e-mail </h3>
    </div> {{!--end head block--}}
    \{{#if errorMessage}}
        <div class="alert alert-danger" role="alert">\{{errorMessage}}</div>
    \{{/if}}

    <div class="blcautr" align="center">{{!--block e-mail end password--}}
        <form class="form-signin1" role="form" \{{action signin on="submit"}}>
            \{{input class="inpblchp" value="login" valueBinding="login" type="text" placeholder="Email address" required="required"}}
            \{{input class="inpblchp" value="password" valueBinding="password" type="password" placeholder="Password" required="required"}}
            <table class="tablechc">
                <tr>
                    <td>
                        <div class="checkboxhpg">
                            <h5> <input type="checkbox" class="chkbxlendp"  value="remember-me">
                                Remember me &nbsp </h5>
                        </div>
                    </td>
                    <td> <a href="#"><u> forgot your password?</u></a> </td>
                </tr>
            </table>
        <label class="buttonsignin">
            \{{input class="chok" type="submit" value="SIGN IN"}}
        </label>
        </form>
    </div> {{!--block e-mail end password--}}
    <div>
        <div class="orblk">
            <img src="img/orblok.png" alt="OR" />
        </div> {{!--end block OR image--}}
        <div class="ftrform" align="center">
            <div>
                <br><br>
                <a href="/auth/google/"><img src="img/signgoogle.png" alt="sign in with Google"/></a>
            </div>
            <div >
                <br><br>
                <a href="#" data-toggle="modal" data-target="#myModal"> <p><u>Do not have an account? Sign Up here!</u></p></a>
            </div>
        </div>{{!--end ftrform--}}
    </div>
    \{{render "signup-modal"}}

    \{{/if}}
</script>