<div class="row">
    <div class="col-sm-12">
      <h2><span class="job-name" data-toggle="modal" data-target="#jobNameForm" title="Rename">{{name}}</span> <small>{{#each tag in tags}} {{tag.name}} {{/each}}</small><h2>
      <div class="modal fade" id="jobNameForm">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Rename job</h4>
              </div>
              <form role="form">
                  <div class="modal-body">
                    <div class="form-group">
                        <p>Enter a new job name:</p>
                        {{input type="text" class="form-control" value=name autofocus=true}}
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" {{action "rename" this}} class="btn btn-primary" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h4 class="text-capitalize" data-toggle="modal" data-target="#rescheduleForm" title="Reschedule"><span class="job-name">{{recurrence.text}}</span></h4>
        {{!-- <h5 class="blue_row">{{recurrence.text}}</h5> --}}
        {{!-- <h5>Ends after 5 runs</h5> --}}
    </div>
    <div class="col-sm-1 text-right">
        <h5>last:</h5>
        <h5>next:</h5>
    </div>
    <div class="col-sm-3">
        <h5>{{format-date recurrence.lastRun 'L LT'}}</h5>
        <h5>{{format-date recurrence.nextRun 'L LT'}}</h5>
    </div>
</div>
<div class="modal fade" id="rescheduleForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Reschedule job</h4>
      </div>
      <form role="form">
          <div class="modal-body">
            <div class="form-group">
                <p>Summary:</p>
                <p>{{recurrence.text}}</p>
            </div>
            <div class="form-group">
                <p>Repeats:</p>
                {{view "select" content=repeatRules value=selectedRepeatRule}}
            </div>
            <div class="form-group">
                <p>Repeats every:</p>
                {{view "select" content=repeatEvery value=selectedRepeatEvery}} {{selectedRepeatRule}}
            </div>
            <div class="form-group">
                <p>Starts on:</p>
                {{input type="text"}}
            </div>
            <div class="form-group">
                <p>Ends:</p>
                {{input type="radio" name="repeatRuleEnds" value="never"}} Never
                {{input type="radio" name="repeatRuleEnds" value="after"}} After
                {{input type="radio" name="repeatRuleEnds" value="on"}} On
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" {{action "reschedule" this}} class="btn btn-primary" data-dismiss="modal">Ok</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<br/>
<div class="row">
    <div class="col-sm-9">
        <button {{action "run" this}} type="button" class="chok"><i class="fa fa-play"></i> Run</button>
        <button {{action "suspend" this}} type="button" class="chok active"><i class="fa fa-pause"></i> Suspend</button>
        {{active}}
        <button {{action "archive" this}} type="button" class="chok"><i class="fa fa-archive"></i> Archive</button>
        {{archived}}
        <button {{action "remove" this}} type="button" class="chok"><i class="fa fa-remove"></i> Remove</button>
    </div>
    <div class="col-sm-3" align="right">
        <button {{action "addtask" this}} type="button" class="chok"><i class="fa fa-plus"></i> Add Task</button>
    </div>
</div>
<br>
<div class="table-responsive">
  <table class="table table-striped lastrowborder">
      <tbody>
      {{#each task in tasks}}
      {{model.id}}
        {{#link-to "dashboard.organization.workspace.tasks.task" id task tagName="tr" activeClass="active-task" class="clickable"}}
            <td class="icon-row"><i class="fa fa-arrows-alt"></i></td>
            <td>{{task.position}}.</td>
            <td>{{task.taskType.name}}</td>
            <td>{{task.name}}</td>
            <td>output</td>
            <td class="underline">0.68s</td>
        {{/link-to}}
      {{else}}
        <tr>
            <td style="border: none;background:none;text-align:center">There are no tasks yet created for this job. Please click "Add Task" button to add a first one.</td>
        </tr>
      {{/each}}
      </tbody>
  </table>
</div>
<div class="row">
    <h3>Revision history</h3>
    <div class="checkbox inline">
        <span>by:</span>
        <label>{{input type="checkbox" value="me"}} me</label>
        <label>{{input type="checkbox" value="others"}} others</label>
    </div>
    <div class="table-responsive">
        <table class="table table-striped lastrowborder ">
            <tbody>
                {{#each record in history}}
                <tr>
                    <td>{{format-date record.updatedAt 'L LT'}}</td>
                    <td>{{record.updatedBy.name}}</td>
                    <td>{{record.description}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>