<div class="row">
    <div class="col-sm-12">
      <h2><span class="job-name" data-toggle="tooltip" data-placement="bottom" title="Rename">{{name}}</span> <small>{{#each tags}} {{name}} {{/each}}</small><h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h5 class="blue_row">{{recurrence.text}}</h5>
        <h5>Ends after 5 runs</h5>
    </div>
    <div class="col-sm-1 text-right">
        <h5>last:</h5>
        <h5>next:</h5>
    </div>
    <div class="col-sm-3">
        <h5>{{format-date recurrence.lastRun 'L LT'}}</h5>
        <h5>{{format-date recurrence.nextRun 'L LT'}}</h5>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-9">
        <button {{action "run" this}} type="button" class="chok"><i class="fa fa-play"></i> Run</button>
        <button {{action "suspend" this}} type="button" class="chok active"><i class="fa fa-pause"></i> Suspend</button>
        <button {{action "archive" this}} type="button" class="chok"><i class="fa fa-archive"></i> Archive</button>
    </div>
    <div class="col-sm-3" align="right">
        <button {{action "addtask" this}} type="button" class="chok"><i class="fa fa-plus"></i> Add Task</button>
    </div>
</div>
<br>
<div class="table-responsive">
  <table class="table table-striped lastrowborder">
      <tbody>
      {{#each tasks}}
        {{#link-to "dashboard.organization.workspace.tasks.task" this.job.id this tagName="tr" activeClass="active-task" class="clickable"}}
            <td class="icon-row"><span class="title-icon"><i class="fa fa-th"></i></td>
            <td>{{position}}.</td>
            <td>{{taskType.name}}</td>
            <td>{{name}}</td>
            <td>output</td>
            <td class="underline">0.68s</td>
        {{/link-to}}
      {{else}}
        <tr>
            <td style="border: none;background:none;text-align:center">There are no tasks yet created for this job. Please click "Add Task" button to add a first one.</td>
        </tr>
      {{/each}}
      </tbody>
  </table>
</div>
<div class="row">
    <h3>Revisions</h3>
    <div class="checkbox inline">
        <span>by:</span>
        <label>{{input type="checkbox" id="filterRecentChangesByMe" value="me"}} me</label>
        <label>{{input type="checkbox" id="filterRecentChangesByOthers" value="others"}} others</label>
    </div>
    <div class="table-responsive">
        <table class="table table-striped lastrowborder ">
            <tbody>
                {{#each history}}
                <tr>
                    <td>{{format-date updatedAt 'L LT'}}</td>
                    <td>{{updatedBy.name}}</td>
                    <td>{{description}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{!-- <div class="row">
    <div class="col-sm-12" align="right">
        <a href="#"><u>archive</u></a>
    </div>
</div> --}}
</div>