<div class="container-fluid container-truecron">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h2 class="text-center">{{format-message (intl-get "messages.auth.confirm_reset_form.header")}}</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form {{action "confirmreset" on="submit"}}>
                <div {{bind-attr class=":form-group isPasswordConfirmError:has-error"}}>
                    <div {{action "checkcode" on="mouseUp"}} class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                      {{input title="Code to reset your password"
                      type="text"
                      value=checkCodeField
                      valueBinding="password"
                      placeholder="Code to reset password"
                      required="required"
                      class="form-control input-lg"
                      }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-lg btn-block btn-signup">{{format-message (intl-get "messages.auth.confirm_reset_form.button")}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
