{{#sidebar-hide condition=invisibleSidebar}}
<aside class="sidebar col-xs-5 col-sm-4 col-md-3 col-lg-3" data-spy="affix" data-offset-top="50">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 no-padding">
            <div class="dropdown dropdown-truecron">
              <li class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Choose workspace
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  {{#each organization in model.organizations}}
                  <li class="dropdown-header">{{organization.name}}</li>
                  {{#each workspace in organization.workspaces}}
                  <li role="presentation"><a {{action "changeWorkspace" workspace}} role="menuitem" tabindex="-1" href="#">{{workspace.name}}</a></li>
                  {{/each}}
                  {{/each}}
                </ul>
              </li>
            </div>
          </div>
          <div class="col-md-3 text-right no-padding">
            <a class="btn btn-default btn-sm btn-truecron-icon"><i class="fa fa-cog fa-lg"></i></a>
          </div>
          <div class="col-md-12 text-right no-padding"><a class="btn btn-signup"><i class="fa fa-plus fa-lg"></i>New Job</a></div>
        </div>
      </div>
    </div>
    <div class="list-group">
    {{#each job in model.jobs}}
    {{log job}}
    {{job-list-item job=job}}
    {{/each}}
    </div>
  </div>
</aside>
{{/sidebar-hide}}
{{outlet}}
