<!doctype html>
<html lang="en">
    <head>
        <title>{{title}}:{{user}}</title>
        <link rel="icon" href=/favicon.ico"/>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body>

    {{!-- dv: TODO: move this to application.handlebars --}}
    <script type="text/x-handlebars">
        \{{#if controllers.signin.isSignedIn}}

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><h4>SC Staging</h4></li>
                        <li><h4><i class="fa fa-bars"></i></h4></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="sidebar">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#"><span>Jobs</span></a></li>
                        <li><a href="#"><span>Connections</span></a></li>
                    </ul>
                    <div class="btn-group">
                        <button \{{action "addJob"}} type="button" class="btn btn-default"><i class="fa fa-plus"></i>Add Job</button>
                        <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                        <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
                    </div>
                    <div class="menu-tabs">
                        <div class="row">
                            <div class="col-xs-2">
                                <span></span>
                            </div>
                            <div class="col-xs-9">
                                <p class="title">Versace</p>
                                <p>Last run: 07/07/14 11:02 pm</p>
                                <p>Next run: now</p>
                            </div>
                        </div>
                    </div>
                    <div class="menu-tabs">
                    <div class="row">
                        <div class="col-xs-2">
                            <span></span>
                        </div>
                        <div class="col-xs-9">
                            <p class="title">Gap</p>
                            <p>Last run: 07/07/14 11:02 pm</p>
                            <p>Next run: 08/08/14 11:02 pm</p>
                        </div>
                    </div>
                </div>
                    <div class="menu-tabs">
                        <div class="row">
                            <div class="col-xs-2">
                                <i class="fa fa-exclamation-circle fa-5"></i>
                            </div>
                            <div class="col-xs-9">
                                <p class="title">American Signature</p>
                                <p>Last run: 07/07/14 11:02 pm</p>
                                <p>Next run: 08/08/14 11:02 pm</p>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-sidebar">
                        \{{#active-li currentWhen="index"}}
                            \{{#link-to 'index'}}Index\{{/link-to}}
                        \{{/active-li}}
                        \{{#active-li currentWhen="dashboard"}}
                            \{{#link-to 'dashboard'}}Overview\{{/link-to}}
                        \{{/active-li}}
                        \{{#active-li currentWhen="ftptask"}}
                            \{{#link-to 'ftptask'}}FTP task\{{/link-to}}
                        \{{/active-li}}
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Export</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        \{{#active-li currentWhen="signin"}}
                            \{{#link-to 'signin'}}Sign in\{{/link-to}}
                        \{{/active-li}}
                        \{{#active-li currentWhen="connection-agent"}}
                        \{{#link-to 'connection-agent'}}connection-agent\{{/link-to}}
                        \{{/active-li}}
                        \{{#active-li currentWhen="execute-bar"}}
                        \{{#link-to 'execute-bar'}}execute-bar\{{/link-to}}
                        \{{/active-li}}
                        \{{#active-li currentWhen="signup"}}
                            \{{#link-to 'signup'}}Sign up\{{/link-to}}
                        \{{/active-li}}
                        \{{#if controllers.signin.isSignedIn}}
                            \{{#active-li currentWhen="ftptask"}}
                                \{{#link-to 'ftptask'}}FTP task\{{/link-to}}
                            \{{/active-li}}
                            <li><a \{{action "signout" target="controllers.signin"}} href="#">Sign out</a></li>
                        \{{else}}
                            \{{#active-li currentWhen="home_page"}}
                                \{{#link-to 'home_page'}}Home page\{{/link-to}}
                            \{{/active-li}}
                            \{{#active-li currentWhen="home_page"}}
                                \{{#link-to 'signin'}}Sign in\{{/link-to}}
                            \{{/active-li}}
                            \{{#active-li currentWhen="signup"}}
                                \{{#link-to 'signup'}}Sign up\{{/link-to}}
                            \{{/active-li}}
                        \{{/if}}
                    </ul>
                </div>
            </div>
        </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {{{body}}}{{!-- dv: server-side template --}}
                \{{outlet}}{{!-- dv: place for client-side partials --}}
            </div>
        \{{else}}
            <div class="backglp">{{!--background image--}}
                <div class="container-fluid">
                    <div class="formlp">{{!--form block content--}}
                        <div> {{!--form with content--}}
                            <div class="heightblock"></div>
                            {{{body}}}{{!-- dv: server-side template --}}
                            \{{outlet}}{{!-- dv: place for client-side partials --}}
                        </div>
                    </div>
                </div>
            </div>
        \{{/if}}
    </script>

    {{!-- dv: register your client-side partials here. In alphabetical order!!! --}}
    {{> dashboard}}
    {{> connection-agent}}
    {{> execute-bar}}
    {{> home_page}}
    {{> hello}}
    {{> index}}
    {{> signin}}
    {{> signup}}
    {{> addjob}}
    {{> ftptask}}
    {{> connection-ftp}}
    {{!-- dv: end of place for client-side partials --}}

    {{!-- vh: best practice is to place js scripts at the bottom of the page
     read more : https://developer.yahoo.com/blogs/ydnfiveblog/high-performance-sites-rule-6-move-scripts-bottom-7200.html
     --}}
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/handlebars/handlebars.min.js"></script>
    <script type="text/javascript" src="/bower_components/ember/ember.min.js"></script>
    <script type="text/javascript" src="/bower_components/ember-addons.bs_for_ember/dist/js/bs-core.min.js"></script>
    <script type="text/javascript" src="/bower_components/ember-addons.bs_for_ember/dist/js/bs-modal.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    {{!-- components --}}
    <script type="text/javascript" src="/js/components/active-li.js"></script>
    {{!-- /components --}}
    </body>
</html>