{{!--<header class="job-details-header">--}}
    {{!--<div class="container-fluid">--}}
        {{!--<div class="row">--}}
            {{!--<div class="col-sm-6">--}}
                {{!--<div class="form-group-material-orange-700">--}}
                    {{!--<h3 class="content-title-margin">{{input id="jobName" type="text" value=model.name class="form-control input-xl" placeholder="Name of the job"}}</h3>--}}
                {{!--</div>--}}
            {{!--</div>--}}
            {{!--<div class="col-sm-1">--}}
                {{!--<span class="btn btn-sm btn-material-blue-grey-400"><i class="fa fa-trash fa-lg"></i></span>--}}
            {{!--</div>--}}
            {{!--<div class="col-sm-6">--}}
                {{!--<h4>Weekly on Monday, Friday, Thuesday, Sunday, Wensday at 12:32:00 PM</h4>--}}
            {{!--</div>--}}
        {{!--</div>--}}
        {{!--<div class="row">--}}
            {{!--<div class="col-md-6">--}}
                {{!--{{input id="jobTags" type="text" value=model.tags class="form-control input-lg" placeholder="Tags"}}--}}
            {{!--</div>--}}
            {{!--<div class="col-md-3">--}}
                {{!--<h5>Last run: <span class="truecron-grey">July 6 12:32:00 PM</span></h5>--}}
            {{!--</div>--}}
            {{!--<div class="col-md-3">--}}
                {{!--<h5>Next run: <span class="truecron-grey">July 8 12:32:00 PM</span></h5>--}}
            {{!--</div>--}}
        {{!--</div>--}}
    {{!--</div>--}}
{{!--</header>--}}
<header class="job-details-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group-material-orange-700">
                    <h3 class="content-title-margin">{{input id="jobName" type="text" value=model.name class="form-control input-xl" placeholder="Name of the job"}}</h3>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="content-title-margin">
                    {{job-tags job=model action="addJobTag"}}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group">
                    <a class="btn btn-flat btn-success" {{action 'createNewJob'}}>Save job</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-flat btn-material-blue-grey-400" {{action 'cancelNewJob'}}>Cancel</a>
                </div>
            </div>
        </div>
        {{!--<div class="row">--}}
            {{!--<div class="col-md-1">--}}
                {{!--<h4 class="truecron-grey">Run:</h4>--}}
            {{!--</div>--}}
            {{!--<div class="col-md-5">--}}
                {{!--<h4 class="truecron-orange">Weekly on Sunday, Monday, Tuesday, Wednesday, Friday at 12:32:00 PM</h4>--}}
            {{!--</div>--}}
            {{!--<div class="col-md-1">--}}
                {{!--<h4 class="truecron-grey">Exclude:</h4>--}}
            {{!--</div>--}}
            {{!--<div class="col-md-5">--}}
                {{!--<h4 class="truecron-orange">Sunday 8 March 2015</h4>--}}
            {{!--</div>--}}
        {{!--</div>--}}
        {{!--<div class="row hidden-xs hidden-sm">--}}
            {{!--<div class="col-md-1">--}}
                {{!--<h4 class="truecron-grey">Last run:</h4>--}}
            {{!--</div>--}}
            {{!--<div class="col-md-5">--}}
                {{!--<h4>July 6 12:32:00 PM</h4>--}}
            {{!--</div>--}}
            {{!--<div class="col-md-1">--}}
                {{!--<h4 class="truecron-grey">Next run:</h4>--}}
            {{!--</div>--}}
            {{!--<div class="col-md-5">--}}
                {{!--<h4>July 8 12:32:00 PM</h4>--}}
            {{!--</div>--}}
        {{!--</div>--}}
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <a class="btn btn-flat btn-material-orange-800" {{action 'editSchedule'}}>Weekly <span style="color:#000">on</span> Sunday, Monday, Tuesday, Wednesday, Friday <span style="color:#000">at</span> 12:32:00 PM <span style="color:#000">excluding</span> Sunday 8 March 2015</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-material-blue-grey-200 truecron-panel">
                            <div class="panel-heading truecron-panel-heading" id="includeRule">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#includeRulePanel" aria-expanded="true" aria-controls="includeRulePanel">
                                        Schedule
                                    </a>
                                </h4>
                            </div>
                            <div id="includeRulePanel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="includeRule">
                                <div class="panel-body truecron-panel-body">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <h5><strong>Starts:</strong></h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group-material-orange-700">
                                              {{input id="startsOn" value=controller.currentDate class="form-control floating-label" placeholder="Date" type="date"}}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group-material-orange-700">
                                              {{input id="startsAt" value=controller.currentTime class="form-control floating-label" placeholder="Time" type="time"}}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group-material-orange-700">
                                              {{view "select" content=controller.zones class="form-control floating-label"
                                              optionLabelPath="content.fullName"
                                              optionValuePath="content.name"
                                              prompt="Timezone:"
                                              selection=controller.currentZone}}
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <h5><strong>Ends:</strong></h5>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="radio radio-material-orange-700">
                                                <label>
                                                  {{radio-button value="never" name="endsOn" selection=controller.endsOn }} Never
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="radio radio-material-orange-700">
                                                <label>
                                                  {{radio-button value="after" name="endsOn" selection=controller.endsOn}} After
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group-material-orange-700">
                                              {{input id="endsAfter" type="number" value=controller.endsAfter class="form-control form-control floating-label" placeholder="occurences"}}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="radio radio-material-orange-700">
                                                <label>
                                                  {{radio-button value="on" name="endsOn" selection=controller.endsOn}} On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group-material-orange-700">
                                              {{input id="endsOnDate" type="date" value=controller.endsOnDate class="form-control"}}
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <h5><strong>Repeats:</strong></h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group-material-orange-700">
                                                {{log repeatRules}}
                                              {{view "select" content=repeatRules value=selectedRepeatRule class="form-control floating-label" placeholder="Rule"}}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group-material-orange-700">
                                              {{view "select" content=repeatEvery value=selectedRepeatEvery class="form-control floating-label" placeholder="Every" }}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <h5><strong>Repeat on:</strong></h5>
                                        </div>
                                        <div class="col-sm-11">
                                            <div class="checkbox pull-left"></div>
                                          {{checkbox-select model=controller propertyPath="selectedDays" labelPath="Name" elements=controller.weekdays}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-material-blue-grey-200 truecron-panel">
                            <div class="panel-heading truecron-panel-heading" id="excludeRule">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#exceptionRulePanel" aria-expanded="true" aria-controls="exceptionRulePanel">
                                        Schedule Exceptions
                                    </a>
                                </h4>
                            </div>
                            <div id="exceptionRulePanel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="excludeRule">
                                <div class="panel-body truecron-panel-body">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <h5><strong>Range:</strong></h5>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-group-material-orange-700">
                                              {{input type="text" value=excludeFromDate class="form-control floating-label" placeholder="Exclude From"}}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-group-material-orange-700">
                                              {{input type="text" value=excludeToDate class="form-control floating-label" placeholder="Exclude To"}}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group form-group-material-orange-700">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-sm btn-flat btn-raised btn-success">Exclude<span class="hidden-xs hidden-sm"> Date Range</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 truecron-exclusion-border">
                                            <p class="truecron-no-margin"><a class="btn btn-flat btn-sm btn-material-orange-800"><i class="fa fa-trash"></i></a><span class="truecron-p-double-padding">Sunday</span><span class="truecron-p-padding">Mar / 8 / 2015</span><span class="truecron-p-padding">to</span><span class="truecron-p-padding">--- / -- / ----</span></p>
                                        </div>
                                        <div class="col-sm-12 truecron-exclusion-border">
                                            <p class="truecron-no-margin"><a class="btn btn-flat btn-sm btn-material-orange-800"><i class="fa fa-trash"></i></a><span class="truecron-p-double-padding">Monday</span><span class="truecron-p-padding">Mar / 9 / 2015</span><span class="truecron-p-padding">to</span><span class="truecron-p-padding">Mar / 10 / 2015</span></p>
                                        </div>
                                        <div class="col-sm-12 truecron-exclusion-border">
                                            <p class="truecron-no-margin"><a class="btn btn-flat btn-sm btn-material-orange-800"><i class="fa fa-trash"></i></a><span class="truecron-p-double-padding">Monday</span><span class="truecron-p-padding">Mar / 9 / 2015</span><span class="truecron-p-padding">to</span><span class="truecron-p-padding">Mar / 10 / 2015</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="btn-group">
                            <a class="btn btn-raised btn-success" {{action 'createNewJob'}}>Save job</a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-raised btn-material-blue-grey-400" {{action 'cancelNewJob'}}>Cancel</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Weekday</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Timezone</th>
                                <th>Excluded</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Monday</td>
                                <td>2015-01-01</td>
                                <td>10:00 AM</td>
                                <td>GMT+0300</td>
                                <td>no</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Friday</td>
                                <td>2016-02-02</td>
                                <td>11:00 PM</td>
                                <td>GMT+0300</td>
                                <td>no</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Friday</td>
                                <td>2016-02-02</td>
                                <td>11:00 PM</td>
                                <td>GMT+0300</td>
                                <td>no</td>
                            </tr>
                            <tr class="danger">
                                <td>4</td>
                                <td>Friday</td>
                                <td>2016-02-02</td>
                                <td>11:00 PM</td>
                                <td>GMT+0300</td>
                                <td>yes</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Friday</td>
                                <td>2016-02-02</td>
                                <td>11:00 PM</td>
                                <td>GMT+0300</td>
                                <td>no</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{outlet}}