<div class="teaser">
    <div class="topper">
        <div class="container-fluid">
            <div class="header">
                <div class="row">
                    <div class="col-md-5 teaser-logo">
                    </div>
                </div>
            </div>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-12">
                        <div class="pitch-ext text-right">
                            <h3 class="pitch">{{format-message (intl-get "messages.landing.pitch")}}</h3>
                            <h2>{{format-message (intl-get "messages.landing.moto1")}}</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 hidden-sm hidden-xs">
                        <div class="top_mac"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="interested_box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
                        <h4 class=" text-center">{{format-message (intl-get "messages.landing.beta_invite.description")}}</h4>
                        <form class="form-inline" {{action "invite" on="submit"}}>
                            <div class="form-group-white isInvitationEmailError:has-error">
                                {{input class="form-control" value=invitationEmail type="email" placeholder="Email" required="required"}}
                                <button type="submit" class="btn btn-white">SIGN UP</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-8 hidden-sm hidden-xs">
                        <div class="bottom_mac"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="topper_icons">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="server_icon"></div>
                        <h4 class="text-center">It turns your servers so you do not have to worry about infrastructure.</h4>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="teaser_git_icon"></div>
                        <h4 class="text-center">It knows that developers actually test the code before releasing it into Production.</h4>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="teaser_calendar_icon"></div>
                        <h4 class="text-center">It knows that fiscal calendar does not end in December.</h4>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="teaser_copy_icon"></div>
                        <h4 class="text-center">It does not make you write a Powershell script to copy a file.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle_grey">
        <div class="container-fluid">
            <div class="jumbotron">
                <p><strong>{{format-message (intl-get "messages.landing.features.header")}}</strong></p>
            </div>
        </div>
    </div>
    <div class="footer_white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <div class="airbag"></div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.features.feature1.header")}}</h2>
                    <p>
                      {{format-message (intl-get "messages.landing.features.feature1.description")}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.features.feature2.header")}}</h2>
                    <p>
                      {{format-message (intl-get "messages.landing.features.feature2.description")}}
                    </p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <div class="library"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <div class="ballet"></div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.features.feature3.header")}}</h2>
                    <p>
                      {{format-message (intl-get "messages.landing.features.feature3.description")}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.features.feature4.header")}}</h2>
                    <p>
                      {{format-message (intl-get "messages.landing.features.feature4.description")}}
                    </p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <div class="secure"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <div class="grow"></div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.features.feature5.header")}}</h2>
                    <p>
                      {{format-message (intl-get "messages.landing.features.feature5.description")}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="orange_box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="text-center">
                        <strong>Simply put, TrueCron is a scheduler that allows you to create a complex tasks in several clicks, peer review it, test and release to production and be sure it will run properly.</strong>
                    </h3>
                    <br>
                    <form class="form-inline" {{action "invite" on="submit"}}>
                        <div class="form-group-white isInvitationEmailError:has-error">
                          {{input class="form-control" value=invitationEmail type="email" placeholder="Email" required="required"}}
                            <button type="submit" class="btn btn-white">SIGN UP</button>
                        </div>
                    </form>
                    <br>
                    <h3 class="text-center">Moreover, when we are going live you will get 100 jobs to execute for free during first 3 months.</h3>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="jumbotron">
                <p>
                  {{format-message (intl-get "messages.landing.footer")
                    current-year=current_year}}
                </p>
            </div>
        </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="invite_modal" tabindex="-1" role="dialog" aria-labelledby="inviteTitle" aria-hidden="true">
        <div class="modal-dialog signup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="inviteTitle">{{format-message (intl-get "messages.landing.beta_invite.confirmation.header")}}</h2>
                </div>
                <div class="modal-body">
                    <div class="signup_logo"></div>
                    <p>{{format-message (intl-get "messages.landing.beta_invite.confirmation.share")}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-signup" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
