<!doctype html>
<html lang="en">
<head>
    <title>{{title}}:{{user}}</title>
    <link rel="icon" href=/favicon.ico"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>
    {{!-- dv: our styles --}}
    <link rel="stylesheet" href="/stylesheets/theme-truecron.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>

{{!-- dv: TODO: move this to application.handlebars --}}
<script type="text/x-handlebars">
    \{{#if controllers.signin.isSignedIn}}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" \{{action "signout" target="controllers.signin"}}>Sign out <i class="fa fa-sign-out"></i></a></li>
                    <li>\{{#link-to "dashboard"}}<i class="fa fa-bars"></i>\{{/link-to}}</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Organizations <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>\{{#link-to "organizations"}}All organizations\{{/link-to}}</li>
                            <li class="divider"></li>
                            <li>\{{#link-to "organizations.add"}} Add organization\{{/link-to}}</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>\{{#link-to "workspaces"}}Workspaces\{{/link-to}}</li>
                            <li class="divider"></li>
                            <li>\{{#link-to "users"}}<i class="fa fa-users"></i> Users\{{/link-to}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar">
                {{!-- dv: todo: use activeTab --}}

                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a \{{action "showJobs"}}><span>Jobs</span></a>
                    </li>
                    <li class="active">
                        <a \{{action "showConnections"}}><span>Connections</span></a>
                    </li>
                </ul>

                \{{outlet "navigation"}}

                <ul class="nav nav-sidebar">
                    \{{#active-li currentWhen="dashboard"}}
                    \{{#link-to 'dashboard'}}Overview\{{/link-to}}
                    \{{/active-li}}
                </ul>
                <ul class="nav nav-sidebar">
                    \{{#active-li currentWhen="execute-bar"}}
                    \{{#link-to 'execute-bar'}}execute-bar\{{/link-to}}
                    \{{/active-li}}
                    <li><a \{{action "signout" target="controllers.signin"}} href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <div class="main">
            {{{body}}}{{!-- dv: server-side template --}}
            \{{outlet}}{{!-- dv: place for client-side partials --}}
        </div>
    </div>
    \{{else}}
    <!--\{{partial "interface-menu-top"}}
            <div class="backglp">{{!--background image--}}
                <div class="container-fluid">
                    <div class="formlp">{{!--form block content--}}
                        <div> {{!--form with content--}}
                            <div class="heightblock"></div>-->
    {{{body}}}{{!-- dv: server-side template --}}
    \{{outlet}}{{!-- dv: place for client-side partials --}}
    <!--</div>
</div>
</div>
</div>-->
    \{{/if}}
</script>

{{!-- dv: register your client-side partials here. In alphabetical order!!! --}}
{{rawinclude "views/partials/about.handlebars"}}
{{> dashboard}}
{{> home_page}}
{{> hello}}
{{> index}}
{{rawinclude "views/partials/organizations.handlebars"}}
{{rawinclude "views/partials/organizations-add.handlebars"}}
{{rawinclude "views/partials/organizations-item.handlebars"}}
{{> plans}}
{{> signin}}
{{> signup}}
{{> status}}
{{rawinclude "views/partials/teaser.handlebars"}}
{{> terms}}
{{!-- dv: end of place for client-side partials --}}

{{!-- vh: best practice is to place js scripts at the bottom of the page
 read more : https://developer.yahoo.com/blogs/ydnfiveblog/high-performance-sites-rule-6-move-scripts-bottom-7200.html
 --}}
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/handlebars/handlebars.js"></script>
<script type="text/javascript" src="/bower_components/ember/ember.js"></script>
<script type="text/javascript" src="/bower_components/ember-data/ember-data.js"></script>
<script type="text/javascript" src="/bower_components/ember-addons.bs_for_ember/dist/js/bs-core.min.js"></script>
<script type="text/javascript" src="/bower_components/ember-addons.bs_for_ember/dist/js/bs-modal.min.js"></script>
{{!-- application --}}
<script type="text/javascript" src="/js/app.js"></script>
{{!-- dv: alphabetical order for modules --}}
<script type="text/javascript" src="/js/organizations.js"></script>
{{!-- components --}}
<script type="text/javascript" src="/js/components/active-li.js"></script>
<script type="text/javascript" src="/js/lib/handlebars-helpers.js"></script>
{{!-- /components --}}
</body>
</html>