{{render 'navigation'}}
<div class="container-fluid">
    <div class="row">
        <div class="sidebar_tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a {{action "showJobs"}}><span>Jobs</span></a>
                </li>
                <li>
                    <a {{action "showConnections"}}><span>Connections</span></a>
                </li>
            </ul>
            <div class="btn-group">
                {{#link-to "jobs/addjob" classNames="btn btn-default"}}<i class="fa fa-plus"></i>Add Job{{/link-to}}
                <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="sidebar">
            {{#each}}
                <div class="menu-tabs">
                  {{#link-to "jobs.job" this tagName="div" activeClass="active-job"}}
                    <div {{bind-attr class=":row archived:archived-job running:running-job"}}>
                        <div class="col-xs-2">
                            {{#if lastRunError}}
                                <i class="fa fa-exclamation-circle fa-5"></i>
                            {{else}}
                                <span></span>
                            {{/if}}
                        </div>
                        <div class="col-xs-9">
                            <p class="title">{{name}}</p>
                            <p>Last run: {{time-from recurrence.lastRun}}</p>
                            <p>Next run: {{time-from recurrence.nextRun}}</p>
                        </div>
                    </div>
                  {{/link-to}}
                </div>
            {{/each}}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <div class="main">
              {{outlet}}
            </div>
        </div>
    </div>
</div>
