{{!--<a href="#" class="list-group-item">--}}
{{log job.workspace}}
{{log job}}
{{#link-to 'jobs.job' job.workspace job class='list-group-item'}}
<div class="row">
    <div class="col-md-10">
        <h4 class="list-group-item-heading">{{job.name}}</h4>
    </div>
    <div {{bind-attr class=":col-md-2 :text-right jobStateColorClass"}}>
        <span><i {{bind-attr class=":fa jobStateIconClass"}}></i></span>
    </div>
</div>
{{!--<p class="list-group-item-text">{{job.rrule}}</p>--}}
<p class="list-group-item-text truecron-job-item-p">schedule: <span class="truecron-job-item-span">{{recurrence.text}}</span></p>
<p class="list-group-item-text truecron-job-item-p">last run: <span class="truecron-job-item-span">{{format-relative recurrence.lastRun}}</span></p>
<p class="list-group-item-text truecron-job-item-p">time left to next run: <span class="truecron-job-item-span">{{format-relative recurrence.nextRun}}</span></p>
<p class="list-group-item-text">
  {{#each tag in job.tags}}
      <span class="label truecron-job-label">{{tag.name}}</span>
  {{/each}}
</p>
{{yield}}
{{!--</a>--}}
{{/link-to}}
