{{#if session.isAuthenticated}}
<div class="navbar navbar-fixed-top navbar-material-blue-grey-800" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-truecron" href="/"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-expanded="false">{{currentChoice}} <span class="caret truecron-caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {{#each organization in organizations}}
                            <li class="dropdown-header text-uppercase">{{organization.name}}</li>
                            {{#each workspace in organization.workspaces}}
                                <li role="presentation"><a class="text-uppercase" {{action "changeWorkspace" workspace}} role="menuitem" tabindex="-1" href="#">{{workspace.name}}</a></li>
                            {{/each}}
                        {{/each}}
                        <li role="presentation" class="divider"><hr/></li>
                        <li role="presentation">{{#link-to 'workspaces' class="text-uppercase"}}Dashboard{{/link-to}}</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell truecron-nav-icon"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Another action</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-user fa-lg fa-border"></i>
                        <span class="caret truecron-caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>{{#link-to "profile" class="text-uppercase"}}<i class="fa fa-user"></i> My Profile{{/link-to}}</li>
                        <li>{{#link-to "organizations" class="text-uppercase"}}<i class="fa fa-cog"></i> Settings{{/link-to}}</li>
                        <li class="divider"></li>
                        <li><a href="#" class="text-uppercase" {{action "invalidateSession"}}><i class="fa fa-sign-out"></i> Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

{{/if}}
{{outlet}}
