<div class="backgroundcolor">
    <div class="row">
        <div class="divborderleft col-md-6">
            <div class="row">
                <div class="col-sm-7">
                  <h3><span class="job-name" data-toggle="tooltip" data-placement="bottom" title="Rename">{{name}}</span><h3>
                </div>
                <div class="col-sm-5" align="right">
                    <h3>
                    <a href="#">
                    {{#if this.active}}
                        <u>ACTIVE</u>
                    {{else}}
                        <u>INACTIVE</u>
                    {{/if}}
                    </a>
                    </h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <button {{action "runjob"}} type="button" class="chok"><i class="fa fa-play"></i> Run</button>
                </div>
                <div class="col-sm-6">
                  <h4 class="blue_row">{{recurrence.text}}</h4>
                  <div>Ends after 5 runs</div>
                </div>
                <div class="col-sm-2">
                    <h4>LAST RUN</h4>
                    <div>{{format-date recurrence.lastRun 'L LT'}}</div>
                </div>
                <div class="col-sm-2">
                    <h4>NEXT RUN</h4>
                    <div>{{format-date recurrence.nextRun 'L LT'}}</div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-9">
                </div>
                <div class="col-sm-3" align="right">
                    <button {{action "addtask" this}} type="button" class="chok"><i class="fa fa-plus"></i> Add Task</button>
                </div>
            </div>
            <br>
            <!--start task partial-->
            <div class="table-responsive">
                <table class="table table-striped lastrowborder">
                    <tbody>
                    {{#each tasks}}
                      {{#link-to "dashboard.organization.workspace.tasks.task" this tagName="tr" activeClass="activejobfirstbox"}}
                          <td class="icon-row"></td>
                          <td>{{taskType.name}}</td>
                          <td>{{name}}</td>
                          <td class="underline">0.68s</td>
                      {{/link-to}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <!--end task partial-->
            <div class="accordion" id="accordion2">
                <div class="accordion-group"><!--start part1 accordion2-->
                    <div class="accordion-heading">
                        <button class="accordion-toggle buttonaccordion" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            <span class="title-icon"><i class="fa fa-chevron-right"></i>Recent Changes</span>
                        </button>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <label class="checkbox inline">
                                &nbsp; by: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" id="inlineCheckbox2" value="option2"> me &nbsp; &nbsp; &nbsp;
                                <input type="checkbox" id="inlineCheckbox3" value="option3"> others &nbsp; &nbsp; &nbsp;
                            </label>
                            <div class="table-responsive">
                                <table class="table table-striped lastrowborder ">
                                    <tbody>
                                        {{#each history}}
                                        <tr>
                                            <td>{{format-date updatedAt 'L LT'}}</td>
                                            <td>{{updatedBy.name}}</td>
                                            <td>{{description}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--end part1 accordion2--><hr>
                <table class="table borderless">
                    <tr><td></td><td align="right"><a href="#"><u>ARCHIVE</u></a></td></tr>
                </table>
            </div>
        </div><!--end class "span6" #1-->
        <div class="col-md-6 divborderright">
            {{outlet}}
        </div>
    </div><!--end class "row"-->
</div><!--end class "backgroundcolor"-->
