<div class="container-fluid container-truecron">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h2 class="text-center">{{format-message (intl-get "messages.auth.signup_form.header")}}</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-4 col-border-right">
            <form {{action "signup" on="submit"}}>
                <div {{bind-attr class=":form-group-material-orange-700 isEmailError:has-error"}}>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lg fa-envelope-o"></i></span>
                      {{input id="email"
                      value=email
                      type="email"
                      placeholder="Email"
                      required="required"
                      class="form-control input-lg"}}
                    </div>
                </div>
                <div {{bind-attr class=":form-group-material-orange-700 isPasswordError:has-error"}}>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lg fa-key"></i></span>
                      {{input title="Password must contain at least 8 characters, including UPPER/lowercase and numbers."
                      type="password"
                      value=password
                      placeholder="Password (more than 8 characters in length)"
                      required="required"
                      class="form-control input-lg"
                      pattern="(?=^.{8,}$)(?=.*\d)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" }}
                    </div>
                </div>
                <div {{bind-attr class=":form-group-material-orange-700 isPasswordConfirmError:has-error"}}>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lg fa-key"></i></span>
                      {{input type="password"
                      value=passwordConfirm
                      placeholder="Enter password again"
                      class="form-control input-lg"}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-lg btn-block btn-material-orange-800">{{format-message (intl-get "messages.auth.signup_form.button")}}</button>
                    </div>
                </div>
                <div>
                    <h4 class="text-center">{{format-message (intl-get "messages.auth.signup_form.accountExists")}} {{#link-to 'signin'}}{{format-message (intl-get "messages.auth.signup_form.signinLink")}}{{/link-to}}.</h4>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="g_sign">
              <a class="btn btn-lg btn-block g_btn btn-white" {{action 'googleLogin'}}><i class="fa fa-google-plus"></i> {{format-message (intl-get "messages.auth.googleButton")}}</a>
            </div>
        </div>
    </div>
  <br >
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-border-top">
            <h6 class="text-center">{{format-message (intl-get "messages.auth.signup_form.warning")}} {{#link-to 'policy.eula'}}{{format-message (intl-get "messages.auth.signup_form.terms")}}{{/link-to}} and {{#link-to 'policy.privacy'}}{{format-message (intl-get "messages.auth.signup_form.privacy")}}{{/link-to}}.</h6>
        </div>
    </div>
</div>
