<div class="container-fluid container-truecron">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h2 class="text-center">{{format-message (intl-get "messages.auth.recovery_form.header")}}</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form id="inputformrecovery" {{action "sendRecoveryCode" on="submit"}}>
                <div {{bind-attr class=":form-group isEmailError:has-error"}}>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                      {{input id="email"
                      value=signupEmail
                      valueBinding="email"
                      type="email"
                      placeholder="Email"
                      required="required"
                      class="form-control input-lg"}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-lg btn-block btn-signup">{{format-message (intl-get "messages.auth.recovery_form.button")}}</button>
                    </div>
                </div>
            </form>
          {{#if isSuccess}}
              <div id="divresultsuccess">
                  <h4>An email was sent to you with further instructions on how to retrieve your password.</h4>
              </div>
          {{/if}}


        </div>
    </div>
</div>
