{{#sidebar-hide condition=invisibleSidebar}}
    <aside class="sidebar col-xs-5 col-sm-4 col-md-3 col-lg-3"
           data-spy="affix" data-offset-top="60">
        <div class="panel panel-material-blue-grey-50">
            <div class="panel-heading">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-9 no-padding">
                            <div class="dropdown dropdown-truecron">
                                <div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                      <h3 class="sidebar-title-margin">{{model.workspace.name}} <span class="caret"></span></h3>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                      {{#each organization in model.organizations}}
                                          <li class="dropdown-header">{{organization.name}}</li>
                                        {{#each workspace in organization.workspaces}}
                                            <li role="presentation"><a {{action "changeWorkspace" workspace}} role="menuitem" tabindex="-1" href="#">{{workspace.name}}</a></li>
                                        {{/each}}
                                      {{/each}}
                                        <li role="presentation" class="divider"><hr/></li>
                                        <li role="presentation">{{#link-to 'workspaces'}}Dashboard{{/link-to}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 text-right no-padding">
                            {{#link-to 'workspaces.workspace.settings' model.workspace class="btn btn-sm btn-material-blue-grey-400"}}<i class="fa fa-cog fa-lg"></i>{{/link-to}}
                        </div>
                    </div>
                {{#unless newJob}}
                    <div class="row">
                        <div class="col-sm-6 text-left no-padding">
                        {{#if showJobDetails}}
                            <a class="btn btn-flat btn-signin btn-material-orange-800" {{action 'backToJobsList'}}><i class="fa fa-lg fa-long-arrow-left"></i> Back to Jobs</a>
                        {{/if}}
                        </div>
                        <div class="col-sm-6 text-right no-padding">
                            <a href="#" class="btn btn-material-orange-800 btn-new-job" {{action 'newJobClicked'}}>New Job</a>
                        </div>
                    </div>
                {{/unless}}
                </div>
            </div>
          {{#if showJobDetails}}
              <div class="container-fluid">
                  <div class="row">
                      <div class="panel panel-material-grey-100 truecron-side-panel">
                          <div class="panel-heading truecron-panel-heading" role="tab" id="jobDetailsHeader">
                              <div class="row">
                                  <div class="col-md-9">
                                      <h4 class="panel-title">
                                          <p class="truecron-tab-p">Job Details</p>
                                      </h4>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="list-group">
                  {{#if newJob}}
                    {{job-list-item job=newJob selected=newJob linkTo='jobs.job' action='selectJob'}}
                  {{/if}}
                  {{#if selectedJob}}
                    {{job-list-item job=selectedJob selected=selectedJob linkTo='jobs.job' action='selectJob'}}
                  {{/if}}
              </div>
              <div class="panel panel-material-grey-100 panel-without-margin">
                  <div class="panel-heading truecron-panel-heading" role="tab" id="collapseRunHistoryHeading">
                      <div class="row">
                          <div class="col-sm-9">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
                                      <p class="truecron-tab-p"><span class="caret truecron-caret"></span>Run History</p>
                                  </a>
                              </h4>
                          </div>
                          <div class="col-sm-3 text-right">
                              <a class="btn btn-sm btn-material-blue-grey-400 truecron-panel-btn"
                                 data-toggle="collapse" href="#collapseRunHistoryFilter" aria-expanded="true" aria-controls="collapseRunHistoryFilter">
                                  <i class="fa fa-filter fa-lg"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div id="collapseRunHistoryFilter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseRunHistoryHeading" aria-expanded="true">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <div class="row">
                                  <div class="col-xs-12">
                                      <p class="form-control-static">Date Range</p>
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="form-group-material-orange-700">
                                          <input type="date" class="form-control truecron-form-control">
                                      </div>
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="form-group-material-orange-700">
                                          <input type="date" class="form-control truecron-form-control">
                                      </div>
                                  </div>
                                  <div class="col-xs-12">
                                      <p class="form-control-static">Triggered by</p>
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="form-group-material-orange-700">
                                          <select class="form-control">
                                              <option value="1">Lev Kurts</option>
                                              <option value="2">System</option>
                                              <option value="3">God know</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
                      <ul class="list-group">
                          <li class="list-group-item truecron-sub-menu">
                              <div class="row">
                                  <div class="col-sm-12 no-padding">
                                      <table class="table table-hover sidebar-table">
                                          <thead class="truecron-table-header">
                                              <tr>
                                                  <th>Triggerd by<i class="fa fa-sort"></i></th>
                                                  <th>Date<i class="fa fa-sort-desc"></i></th>
                                                  <th>Duration<i class="fa fa-sort"></i></th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td>Schedule</td>
                                                  <td>Jul 10 10:43:34</td>
                                                  <td>2.34s</td>
                                              </tr>
                                              <tr class="danger truecron-active-border">
                                                  <td>Lev Kurts</td>
                                                  <td>Jul 5 12:32:00</td>
                                                  <td>0.68s</td>
                                              </tr>
                                              <tr>
                                                  <td>Schedule</td>
                                                  <td>Jul 10 10:43:34</td>
                                                  <td>2.34s</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="panel panel-material-grey-100 panel-without-margin">
                  <div class="panel-heading truecron-panel-heading truecron-panel-border" role="tab" id="collapseRevisionHeading">
                      <div class="row">
                          <div class="col-sm-9">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapseRevisionsTable" aria-expanded="true" aria-controls="collapseRevisionsTable">
                                      <p class="truecron-tab-p"><span class="caret truecron-caret"></span>Revision History</p>
                                  </a>
                              </h4>
                          </div>
                          <div class="col-sm-3 text-right">
                              <a class="btn btn-sm btn-material-blue-grey-400 truecron-panel-btn"
                                 data-toggle="collapse" href="#collapseRevisionFilter" aria-expanded="true" aria-controls="collapseRevisionFilter">
                                  <i class="fa fa-filter fa-lg"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div id="collapseRevisionFilter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseRevisionHeading" aria-expanded="true">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <div class="row">
                                  <div class="col-xs-12">
                                      <p class="form-control-static">Date Range</p>
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="form-group-material-orange-700">
                                          <input type="date" class="form-control truecron-form-control" placeholder=".col-xs-6">
                                      </div>
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="form-group-material-orange-700">
                                          <input type="date" class="form-control truecron-form-control" placeholder=".col-xs-6">
                                      </div>
                                  </div>
                                  <div class="col-xs-12">
                                      <p class="form-control-static">Changed by</p>
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="form-group-material-orange-700">
                                          <select class="form-control">
                                              <option value="1">Vitali Hayalski</option>
                                              <option value="2">System</option>
                                              <option value="3">God know</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div id="collapseRevisionsTable" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseRevisionHeading" aria-expanded="true">
                      <ul class="list-group">
                          <li class="list-group-item truecron-sub-menu">
                              <div class="row">
                                  <div class="col-sm-12 no-padding">
                                      <table class="table table-hover sidebar-table">
                                          <thead class="truecron-table-header">
                                            <tr>
                                                <th>Changed by <i class="fa fa-sort"></i></th>
                                                <th>Date <i class="fa fa-sort-desc"></i></th>
                                                <th>Revision <i class="fa fa-sort"></i></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                                <td>Vitali Hatalski</td>
                                                <td>Jul 3 10:22:00pm</td>
                                                <td>rev# 1.06</td>
                                            </tr>
                                            <tr>
                                                <td>Vitali Hatalski</td>
                                                <td>Jul 3 3:02:00pm</td>
                                                <td>rev# 1.05</td>
                                            </tr>
                                            <tr>
                                                <td>Vitali Hatalski</td>
                                                <td>Jul 3 1:12:00pm</td>
                                                <td>rev# 1.04</td>
                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          {{else}}
              <div class="container-fluid">
                  <div class="row">
                      <div class="panel panel-material-grey-100 truecron-side-panel">
                          <div class="panel-heading truecron-panel-heading" role="tab" id="jobsHeader">
                              <div class="row">
                                  <div class="col-sm-9">
                                      <h4 class="panel-title">
                                          <p class="truecron-tab-p">Job List</p>
                                      </h4>
                                  </div>
                                  <div class="col-sm-3 text-right">
                                      <a class="btn btn-sm btn-material-blue-grey-400 truecron-panel-btn" data-toggle="collapse" href="#collapseJobFilter" aria-expanded="true" aria-controls="jobsHeader">
                                          <i class="fa fa-filter fa-lg"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div id="collapseJobFilter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="jobsHeader" aria-expanded="true">
                              <ul class="list-group">
                                  <li class="list-group-item truecron-sub-filter">
                                      <div class="row">
                                          <div class="col-xs-6">
                                              <p class="form-control-static">Filter by name:</p>
                                          </div>
                                          <div class="col-xs-6">
                                              <p class="form-control-static">Filter by tag:</p>
                                          </div>
                                          <div class="col-xs-6">
                                              <div class="form-group-material-orange-700">
                                                  <input type="text" class="form-control truecron-form-control">
                                              </div>
                                          </div>
                                          <div class="col-xs-6">
                                              <div class="form-group-material-orange-700">
                                                  <input type="text" class="form-control truecron-form-control">
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="list-group">
                {{#each job in model.workspace.jobs}}
                  {{job-list-item job=job linkTo='jobs.job' selected=selectedJob action='selectJob'}}
                {{/each}}
              </div>
          {{/if}}
        </div>
    </aside>
{{/sidebar-hide}}
<div class="container-fluid no-padding">
    <section class="col-xs-offset-5 col-sm-offset-4 col-md-offset-3 col-xs-7 col-sm-8 col-md-9 col-lg-9 no-padding">
      {{outlet}}
    </section>
</div>
