<header class="job-details-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group-material-orange-700">
                    <h3 class="content-title-margin">{{input id="jobName" type="text" value=model.name class="form-control input-xl" placeholder="Name of the job"}}</h3>
                </div>
            </div>
            <div class="col-md-1">
                <span class="btn btn-sm btn-material-blue-grey-400"><i class="fa fa-trash fa-lg"></i></span>
            </div>
            <div class="col-md-6">
                <h4>Weekly on Monday, Friday, Thuesday, Sunday, Wensday at 12:32:00 PM</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Triggered by <span class="truecron-grey">Vitali Hatalski</span> on <span class="truecron-grey">July 5</span> at <span class="truecron-grey">12:32:00 AM PST,</span> time <span class="truecron-grey">0.68s</span></h5>
            </div>
            <div class="col-md-3">
                <h5>Last run: <span class="truecron-grey">July 6 12:32:00 PM</span></h5>
            </div>
            <div class="col-md-3">
                <h5>Next run: <span class="truecron-grey">July 8 12:32:00 PM</span></h5>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 text-left">
            <a class="btn btn-material-blue-grey-400" {{action 'runJob'}}>Run Job</a>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-material-orange-800" {{action 'addTask'}}>New Task</a>
        </div>
    </div>
    {{#if showNewTaskForm}}
      {{task-new-item task=newTask onCreate="createTask" onCancel="cancelTaskCreation"}}
    {{/if}}
    <div class="panel-group truecron-accordion" id="accordion" role="tablist" aria-multiselectable="true">
        {{#each task in model.tasks}}
          {{task-list-item task=task}}
        {{else}}
          <p>No tasks</p>
        {{/each}}
    </div>
</div>
{{outlet}}
