<header class="job-details-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group-material-orange-700">
                    <h3 class="content-title-margin">{{input id="jobName" type="text" value=model.name class="form-control input-xl" placeholder="Job's title"}}</h3>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <div class="btn-group">
                    <a class="btn btn-raised btn-material-green-400" {{action 'runJob'}}>Run Job</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-raised btn-material-orange-800" {{action 'addTask'}}>New Task</a>
                </div>
                <div class="btn-group">
                    {{button-alert action="removeJob"}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 hidden">
                <h3 class="content-tag-margin">
                    {{job-tags job=model action="addJobTag"}}
                </h3>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <a class="btn btn-flat btn-raised btn-material-orange-800" {{action 'editSchedule'}}>
                {{controller.rruleText}}
            </a>
        </div>
    </div>
    {{#if showNewTaskForm}}
      {{task-new-item task=newTask onCreate="createTask" onCancel="cancelTaskCreation"}}
    {{/if}}
    <div class="panel-group truecron-accordion" id="accordion" role="tablist" aria-multiselectable="true">
        {{#each task in model.tasks}}
          {{task-list-item task=task}}
        {{else}}
          <p>No tasks</p>
        {{/each}}
    </div>
</div>
{{outlet}}
