<div class="container fluid container-truecron">
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-material-blue-grey-200">
                <div class="panel-heading truecron-panel-heading">
                    <h3 class="panel-title">My Profile</h3>
                    <!--Check this button styles-->
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="btn-group">

                                {{#if isEditNAme}}
                                    <a class="btn btn-flat btn-success" {{action 'cancelNameAndEmail'}}>cancel</a>
                                    <a class="btn btn-flat btn-success" {{action 'saveNameAndEmail'}}>Save</a>
                                    {{else}}
                                    <a class="btn btn-flat btn-success" {{action 'editNameAndEmail'}}>EDIT</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body truecron-panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h5 id="test">Email</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    <label>
                                        {{#each userEmail in model.emails}}
                                            <span id="firstEmail">{{userEmail.email}}</span>
                                        {{/each}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Name</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    <label>
                                        {{input id="userName"
                                        type="text"
                                        value=model.name
                                        disabled=isNotEditName
                                        class="form-control empty"
                                        data-hint="Enter user name"}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-material-blue-grey-200">
                <div class="panel-heading truecron-panel-heading">
                    <h3 class="panel-title">Password</h3>
                    <!--Check this button styles-->
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="btn-group">
                                {{#if isEditPassword}}
                                    <a class="btn btn-flat btn-success" {{action 'cancelEditPassword'}}>cancel</a>
                                    <a class="btn btn-flat btn-success" {{action 'savePassword'}}>Save</a>
                                {{else}}
                                    <a class="btn btn-flat btn-success" {{action 'editPassword'}}>EDIT</a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body truecron-panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Password</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    {{input id="password"
                                        type="password"
                                        value=model.password
                                        disabled=isNotEditPassword
                                        class="form-control empty"
                                        required=true
                                        placeholder="Password (more than 8 characters in length)"
                                        pattern="(?=^.{8,}$)(?=.*\d)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Password Confirmation</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                  {{input id="inputConfirmPassword"
                                  data-hint="Enter password again"
                                  type="password"
                                  value=passwordConfirm
                                  placeholder="Confirm password"
                                  disabled=isNotEditPassword
                                  class="form-control empty"
                                  pattern="(?=^.{8,}$)(?=.*\d)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                  }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="panel panel-material-blue-grey-200">-->
                <!--<div class="panel-heading truecron-panel-heading">-->
                    <!--<h3 class="panel-title">Google Profile</h3>-->
                <!--</div>-->
                <!--<div class="panel-body truecron-panel-body">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-2">-->
                            <!--<h5>Google Email</h5>-->
                        <!--</div>-->
                        <!--<div class="col-md-10">-->
                            <!--<div class="form-group-material-orange-700">-->
                                <!--<div class="form-control-wrapper">-->
                                    <!--<input id="gmail" type="email" value="" class="form-control empty" data-hint="Enter Google Email">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            {{!--<div class="panel panel-material-blue-grey-200">--}}
                {{!--<div class="panel-heading truecron-panel-heading">--}}
                    {{!--<h3 class="panel-title">GitHub Profile</h3>--}}
                {{!--</div>--}}
                {{!--<div class="panel-body truecron-panel-body">--}}
                    {{!--<div class="row">--}}
                        {{!--<div class="col-md-2">--}}
                            {{!--<h5>GitHub Profile</h5>--}}
                        {{!--</div>--}}
                        {{!--<div class="col-md-10">--}}
                            {{!--<div class="form-group-material-orange-700">--}}
                                {{!--<div class="form-control-wrapper">--}}
                                    {{!--<input id="github" type="text" value="" class="form-control empty" data-hint="Enter GitHub Profile">--}}
                                {{!--</div>--}}
                            {{!--</div>--}}
                        {{!--</div>--}}
                    {{!--</div>--}}
                {{!--</div>--}}
            {{!--</div>--}}
            {{!--<div class="panel panel-material-blue-grey-200">--}}
                {{!--<div class="panel-heading truecron-panel-heading">--}}
                    {{!--<h3 class="panel-title">API Token</h3>--}}
                {{!--</div>--}}
                {{!--<div class="panel-body truecron-panel-body">--}}
                    {{!--<div class="row">--}}
                        {{!--<div class="col-md-2">--}}
                            {{!--<h5>API Token</h5>--}}
                        {{!--</div>--}}
                        {{!--<div class="col-md-10">--}}
                            {{!--<div class="form-group-material-orange-700">--}}
                                {{!--<div class="form-control-wrapper">--}}
                                    {{!--<input id="API" type="text" value="" class="form-control empty" data-hint="Enter API Token">--}}
                                {{!--</div>--}}
                            {{!--</div>--}}
                        {{!--</div>--}}
                    {{!--</div>--}}
                {{!--</div>--}}
            {{!--</div>--}}
        </div>
    </div>
</div>

{{outlet}}
