<div class="panel panel-default">
    <div class="panel-heading truecron-first-heading" role="tab" id="task{{task.id}}">
        <div class="row">
            <div class="col-md-1">
                <i class="fa fa-bars"></i>
            </div>
            <div class="col-md-1 text-center">
                <p>{{task.taskType.name}}</p>
            </div>
            <div class="col-md-3 text-center">
                <p>{{task.name}}</p>
            </div>
        </div>
    </div>
    <div id="collapseTask{{task.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="task{{task.id}}">
        <div class="panel-body truecron-panel-body">
            <button type="submit" class="btn btn-material-orange-700" {{action 'create'}}>Create Task</button>
            <button type="reset" class="btn btn-material-blue-grey-400" {{action 'cancel'}}>Cancel</button>
        </div>
    </div>
</div>
{{yield}}