<div class="teaser">
    <div class="topper">
        <div class="container-fluid">
            <div class="jumbotron">
                <h2 class="pitch">{{format-message (intl-get "messages.landing.pitch")}}</h2>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="pitch-ext">
                            <p>{{format-message (intl-get "messages.landing.moto1")}}</p>
                            <p>{{format-message (intl-get "messages.landing.moto2")}}</p>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="top_mac"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="container-fluid">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="interested_box">
                            <form {{action "invite" on="submit"}}>
                                <div class="container">
                                    <h2>{{format-message (intl-get "messages.landing.beta_invite.header")}}</h2>
                                    <p>{{format-message (intl-get "messages.landing.beta_invite.description")}}</p>
                                    <div {{bind-attr class=":form-group isInvitationEmailError:has-error"}}>
                                      {{input class="form-control" value="email" valueBinding="invitationEmail"
                                      type="email" placeholder="Email" required="required"}}
                                    </div>
                                    {{log intl}}
                                    <p><input type="submit" class="btn btn-signup" value="SIGN UP"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="bottom_mac"></div>
                    </div>
                </div>
            </div>
            <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.what.header")}}</h2>
        </div>
    </div>
    <div class="middle_grey">
        <div class="container-fluid">
            <div class="jumbotron">
                <p>{{format-message (intl-get "messages.landing.what.description1")}}</p>
                <p>{{format-message (intl-get "messages.landing.what.description2")}}</p>
            </div>
        </div>
    </div>
    <div class="middle_white">
        <div class="container-fluid">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-5">
                        <ul>
                            <li>{{format-message (intl-get "messages.landing.what.list.item1")}}</li>
                            <li>{{format-message (intl-get "messages.landing.what.list.item2")}}</li>
                            <li>{{format-message (intl-get "messages.landing.what.list.item3")}}</li>
                            <li>{{format-message (intl-get "messages.landing.what.list.item4")}}</li>
                        </ul>
                    </div>
                    <div class="col-xs-7">
                        <div class="words"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle_grey">
        <div class="container-fluid">
            <div class="jumbotron">
                <p>{{format-message (intl-get "messages.landing.features.header")}}</p>
            </div>
        </div>
    </div>
    <div class="footer_white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <div class="airbag"></div>
                </div>
                <div class="col-xs-6">
                    <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.features.feature1.header")}}</h2>
                    <p>
                      {{format-message (intl-get "messages.landing.features.feature1.description")}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.features.feature2.header")}}</h2>
                    <p>
                      {{format-message (intl-get "messages.landing.features.feature2.description")}}
                    </p>
                </div>
                <div class="col-xs-6">
                    <div class="library"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <div class="ballet"></div>
                </div>
                <div class="col-xs-6">
                    <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.features.feature3.header")}}</h2>
                    <p>
                      {{format-message (intl-get "messages.landing.features.feature3.description")}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.features.feature4.header")}}</h2>
                    <p>
                      {{format-message (intl-get "messages.landing.features.feature4.description")}}
                    </p>
                </div>
                <div class="col-xs-6">
                    <div class="hands"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <div class="grow"></div>
                </div>
                <div class="col-xs-6">
                    <h2 class="problem-definition-header">{{format-message (intl-get "messages.landing.features.feature5.header")}}</h2>
                    <p>
                      {{format-message (intl-get "messages.landing.features.feature5.description")}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="jumbotron">
                <p>
                  {{format-message (intl-get "messages.landing.footer")
                    current-year=current_year}}
                </p>
            </div>
        </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="invite_modal" tabindex="-1" role="dialog" aria-labelledby="inviteTitle" aria-hidden="true">
        <div class="modal-dialog signup">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="inviteTitle">{{format-message (intl-get "messages.landing.beta_invite.confirmation.header")}}</h2>
                </div>
                <div class="modal-body">
                    <div class="signup_logo"></div>
                    <p>{{format-message (intl-get "messages.landing.beta_invite.confirmation.share")}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-signup" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
