<div class="container-fluid container-truecron">
  <div class="row">
    {{#sidebar-hide condition=invisibleSidebar}}
    <aside class="sidebar col-xs-5 col-sm-4 col-md-3 col-lg-3"
           data-spy="affix" data-offset-top="50"  >
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9 no-padding">
                            <div class="dropdown dropdown-truecron">
                                <li class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Choose workspace
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        {{#each organization in model.organizations}}
                                            <li class="dropdown-header">{{organization.name}}</li>
                                          {{#each workspace in organization.workspaces}}
                                              <li role="presentation"><a {{action "changeWorkspace" workspace}} role="menuitem" tabindex="-1" href="#">{{workspace.name}}</a></li>
                                          {{/each}}
                                        {{/each}}
                                    </ul>
                                </li>
                            </div>
                        </div>
                        <div class="col-md-3 text-right no-padding">
                            <a class="btn btn-default btn-sm btn-truecron-icon"><i class="fa fa-cog fa-lg"></i></a>
                        </div>
                        <div class="col-md-12 text-right no-padding"><a class="btn btn-signup"><i class="fa fa-plus fa-lg"></i>New Job</a></div>
                    </div>
                </div>
            </div>
            <div class="list-group">
                {{#each job in model.jobs}}
                  {{log job}}
                  {{job-list-item job=job}}
                {{/each}}
            </div>
            <div class="panel panel-default">

            <div class="panel-heading truecron-panel-heading" role="tab" id="collapseListGroupHeading1">
              <div class="row">
                  <div class="col-md-9">
                    <h4 class="panel-title">
                        <a class="" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
                            <p><span class="caret truecron-caret"></span>Run History</p>
                        </a>
                    </h4>
                  </div>
                  <div class="col-md-3 text-right">
                      <a class="btn btn-default btn-sm btn-truecron-icon"><i class="fa fa-filter fa-lg"></i></a>
                  </div>
              </div>
             </div>
                <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
                    <ul class="list-group">
                        <li class="list-group-item truecron-sub-filter">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="form-control-static">Date Range</p>
                                </div>
                                <div class="col-xs-6">
                                    <input type="date" class="form-control truecron-form-control" placeholder=".col-xs-6">
                                </div>
                                <div class="col-xs-6">
                                    <input type="date" class="form-control truecron-form-control" placeholder=".col-xs-6">
                                </div>
                                <div class="col-xs-12">
                                    <p class="form-control-static">Changed by</p>
                                </div>
                                <div class="col-xs-6">
                                    <div class="dropdown">
                                        <button class="btn btn-default truecron-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                            --
                                            <span class="caret truecron-caret caret-right"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item truecron-sub-menu">
                            <div class="row">
                                <div class="col-md-4">Triggerd by<i class="fa fa-sort"></i></div>
                                <div class="col-md-4 text-center">Date<i class="fa fa-sort-desc"></i></div>
                                <div class="col-md-4 text-right">Duration<i class="fa fa-sort"></i></div>
                            </div>
                        </li>
                        <li class="list-group-item truecron-tab-normal">
                            <div class="row">
                                <div class="col-md-4">Schedule</div>
                                <div class="col-md-4 text-center">Jul 10 10:43:34</div>
                                <div class="col-md-4 text-right">2.34s</div>
                            </div>
                        </li>
                        <li class="list-group-item truecron-tab-active">
                          <div class="row">
                            <div class="col-md-4">Lev Kurts</div>
                            <div class="col-md-4 text-center">Jul 5 12:32:00</div>
                            <div class="col-md-4 text-right">0.68s</div>
                          </div>
                        </li>
                        <li class="list-group-item truecron-tab-normal">
                            <div class="row">
                                <div class="col-md-4">Schedule</div>
                                <div class="col-md-4 text-center">Jul 10 10:43:34</div>
                                <div class="col-md-4 text-right">2.34s</div>
                            </div>
                        </li>
                        <li class="list-group-item truecron-tab-failed">
                            <div class="row">
                                <div class="col-md-4">Schedule</div>
                                <div class="col-md-4 text-center">Jul 2 12:32:34</div>
                                <div class="col-md-4 text-right">0.68s</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    {{/sidebar-hide}}
    <div class="container-fluid">
        <section class="col-xs-offset-5 col-sm-offset-4 col-md-offset-3 col-xs-7 col-sm-8 col-md-9 col-lg-9">
            <header class="job-details-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="job-title"><span class="orange-dashed">American Signature</span></h3>
                        </div>
                        <div class="col-md-1">
                            <span class="btn btn-sm btn-truecron-icon"><i class="fa fa-trash fa-lg"></i></span>
                        </div>
                        <div class="col-md-6 trucron-tasks-header">
                            <h3><span class="blue-dashed">Weekly on Monday, Friday, Thuesday, Sunday, Wensday at 12:32:00 PM</span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 run-history-info">
                            <h4>Triggered by <span class="truecron-grey">Lev Kurts</span></h4>
                            <h4>on <span  class="truecron-grey">July 5</span> at <span  class="truecron-grey">12:32:00 AM PST,</span> time <span class="truecron-grey">0.68s</span> <a href="#" class="truecron-orange">(rev#1.06)</a></h4>
                        </div>
                        <div class="col-md-3 text-center">
                            <h4>LAST RUN:</h4>
                            <h4>July 6 12:32:00pm</h4>
                        </div>
                        <div class="col-md-3 text-center">
                            <h4>LAST RUN:</h4>
                            <h4>July 8 12:32:00pm</h4>
                        </div>
                    </div>
                </div>
            </header>
            <div class="job-details-body">
                <div class="row trucron-top-tasks">
                    <div class="col-md-10">
                        <div class="arrow_box" role="alert">
                            <h3>Add Your first Task by Clicking Add Task!</h3>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-lg btn-signup">Add Task</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="panel-group truecron-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading truecron-first-heading" role="tab" id="headingOne">
                      <div class="row">
                          <div class="col-md-1">
                              <i class="fa fa-bars"></i>
                          </div>
                          <div class="col-md-2 text-center">
                              <p>delete</p>
                          </div>
                          <div class="col-md-2 text-center">
                              <p>clean folder</p>
                          </div>
                          <div class="col-md-4 text-center">
                              <p>564 files were removed</p>
                          </div>
                          <div class="col-md-2 text-center trucron-underline">
                              <p>0.68 sec</p>
                          </div>
                          <div class="col-md-1 text-right">
                              <i class="fa fa-square"></i>
                          </div>
                      </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body truecron-panel-body">
                            <p>rm myFile.txt myFile1.txt myFile2.txt …etc…</p>
                            <p>rm myFile*.txt</p>
                            <p>rm -rf foldername</p>
                            <p>rm -rf *</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading truecron-second-heading" role="tab" id="headingTwo">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="col-md-2 text-center">
                                <p>delete</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p>clean folder</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <p>564 files were removed</p>
                            </div>
                            <div class="col-md-2 text-center trucron-underline">
                                <p>0.68 sec</p>
                            </div>
                            <div class="col-md-1 text-right">
                                <i class="fa fa-square"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body truecron-panel-body">
                            <p>rm myFile.txt myFile1.txt myFile2.txt …etc…</p>
                            <p>rm myFile*.txt</p>
                            <p>rm -rf foldername</p>
                            <p>rm -rf *</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading truecron-error-heading" role="tab" id="headingTwo">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="col-md-2 text-center">
                                <p>delete</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p>clean folder</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <p>564 files were removed</p>
                            </div>
                            <div class="col-md-2 text-center trucron-underline">
                                <p>0.68 sec</p>
                            </div>
                            <div class="col-md-1 text-right">
                                <i class="fa fa-square"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body truecron-panel-body">
                            <p>rm myFile.txt myFile1.txt myFile2.txt …etc…</p>
                            <p>rm myFile*.txt</p>
                            <p>rm -rf foldername</p>
                            <p>rm -rf *</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading truecron-first-heading truecron-inactive-heading" role="tab" id="headingTwo">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="col-md-2 text-center">
                                <p>delete</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p>clean folder</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <p>564 files were removed</p>
                            </div>
                            <div class="col-md-2 text-center trucron-underline">
                                <p>0.68 sec</p>
                            </div>
                            <div class="col-md-1 text-right">
                                <i class="fa fa-square"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body truecron-panel-body">
                            <p>rm myFile.txt myFile1.txt myFile2.txt …etc…</p>
                            <p>rm myFile*.txt</p>
                            <p>rm -rf foldername</p>
                            <p>rm -rf *</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  </div>
  <div class="row">
      <button type="button" class="btn btn-default" {{action 'toggleSidebarVisibility'}}>Toggle Visibility</button>
  </div>
</div>
{{outlet}}
